<!doctype html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link href="{% static 'css/app.css' %}" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet">

    <title>Home</title>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/view-records">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Add Score</a>
            </li>
        </ul>
    </div>
</nav>
<body>

<div class="container">
    <div class="card">
        <div class="card-header">
            List of Students
        </div>
        {% if student_list %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Test Score</th>
                <th scope="col">User Action</th>
            </tr>
            </thead>
            <tbody>
            {% for student in student_list %}
            <tr>
                <th scope="row"><a href="/{{ student.id }}">{{forloop.counter}}</a></th>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.test_score }}</td>
                <td>
                    <div class="button-container">
                        <a class="btn btn-danger" href="delete-record/{{ student.id }}">Delete</a>
                        <a class="btn btn-warning" href="update-record/{{ student.id }}">Update</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="card-footer text-muted">
            No student test record found, try to add student test score !!!
        </div>
        {% endif %}
    </div>
    {% if messages %}
    <hr>
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div {% if message.tags %} class="alert alert-danger" {% endif %}>
            {{ message }}
        </div>
        {% else %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        <script>
            $(document).ready(function() {
                setTimeout(function() {
                    $('.messages').fadeOut('slow');
                }, 2000); // 2 seconds
            });
            $(document).ready(function() {
                setTimeout(function() {
                    window.location.reload();
                }, 4000); // 4 seconds
            });
        </script>
    {% endif %}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.16.6/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>